.white_text{
    color: #FFF;
    padding: 0 ;
    margin: 0;
}

.admin-container, .profile{
    display: block;
    width: 100%;
    
}

.title_and_button{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.add-product-admin {
    display: flex;
    width: 250px;
    height: 40px;
    font-family: Russo_One;
    background-color: #FFF;
    font-size: 20px;
    color:#F08BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.orders{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0 40px 0;
    gap: 20px 20px;
}
.accounts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px 44px;
    margin: 20px 0  0 0;
}
.order-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: none;
    border-radius: 20px;
    flex-shrink: 0;
    opacity: 1; 
    transition: opacity 0.3s ease;   
}
.order-up-detail{
    display: flex;
    justify-content: space-between;
    border: none;
    
}
.hidden {
    opacity: 0.5;
}
 .account-card {
    padding:  20px;
    width: 230px;
    display: flex;                 
    flex-direction: column;       
    align-items: center;          
    justify-content: center;   
    background-color: #FFF;
    border: none;
    border-radius: 20px;
    flex-shrink: 0;
    text-align: center;
    height: 150px;     
  
 }
.order-left{
    margin-right: 40px;
    text-align: left;
}
.order-ri{
     text-align: right;
}

.order-status, .order-details, .order-number{
    margin:  0;
}

.order-status {
    font-size: 32px; 
    vertical-align: middle;
    color: #191919;
    margin-bottom: 8px;
    display: inline-block; 
}

.order-status-f {
    display: inline; 
}

.order-status-f select {
    margin: 0;
    font-family: Russo_One;
    font-size: 32px; 
    color: #191919; 
    background-color: transparent; 
    border: none; 
    appearance: none; 
    cursor: pointer;
    align-items: left; 
}


.order-status-f select:focus {
    outline: none; 
}


.order-status-f::after {
    font-family: Russo_One;
    font-size: 32px; 
    color: #191919; 
    margin-left: 5px; 
    vertical-align: middle; 
    pointer-events: none; 
}



.account-name {
    color: #191919;
    line-height: 1;
    font-size: 28px;
    margin: 0 0 10px 0;  
}
.account-p, .account-email{
    margin: 0 0 3px 0;
}
.order-details{
    margin-left: 4px;
    font-size: 24px; 
    vertical-align: middle;
    color: #191919;
}


.order-detail {
    display: none;
    background-color: #fff; 
    padding: 3px; 
}


.order-detail p {
   height: max-content; 
}


.order-number{
    margin-bottom: 8px ;
    font-size: 36px; 
    vertical-align: middle;
    color: #F08BFF;
}

.account-email,.account-p {
    color: rgba(25, 25, 25, 0.5);
    font-size: 16px;
}

.details-button {
    position: relative;
    top: 0;
    transform: translateY(0%);
    background-color: transparent;
    font-family: Russo_One;
    font-size: 16px;
    color: rgba(25, 25, 25, 0.5);
    border: none;
    cursor: pointer;
}

.confirm-button {
    margin: 7px 0 0 0;
    position: relative;
    top: 0;
    transform: translateY(0%);
    background-color: transparent;
    font-family: Russo_One;
    font-size: 20px;
    color: #F08BFF;
    border: none;
    cursor: pointer;
}

.up-profile{
    width: 105%;
    display: flex;
    gap: 0 50px;
    padding-bottom: 40px;
}

.left-up-profile{
    display: flex;                 
    flex-direction: column;                 
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;   
}
.orders-profile{
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
    justify-content: left;
    gap: 0 50px;
}

.history-card{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    align-items: center;
    justify-content: left;
    gap: 30px 30px;
}

.anim{
    width: 390px;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.his_title{
    font-size: 20px;
}
.his_price{
    font-size: 36px;
}

.hid {
    display: none; 
}

.history_see_all{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    cursor: pointer;
}

.history_see_all_arrow{
    padding-top: 2px;
}
.orders_see_all_arrow{
    position: absolute;
    top:240px;
    right: 95px;
    color:#FFF;
    cursor: pointer;    
}