.page_title {
    text-align: center;
    color: #F08BFF;
    margin: 0 0 24px 0; 
    font-size: 32px;
}

.p{
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.content_form{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cont_login {
    width: 350px;
    margin: 4px;
    padding: 50px 50px 0 50px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

input{
    margin: 0;
    padding: 0;
}

.input_field {
    font-family: Russo_One;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    color: rgba(25, 25, 25, 0.5);
    width: 89%;
    height:60px ;
    margin-bottom: 20px;
    border: none;
    padding: 0 20px;
    border-radius: 15px;
}

.input_field:focus {
    color: #191919;
    outline: none;
}

.description {
    padding-top: 15px;
    height:135px;   
}
.submit_button {
    width: 100%;
    height: 60px;
    padding: auto;
    background-color: #F08BFF;
    font-family: Russo_One;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0 20px 0;
}

.submit_button:hover {
    height: 60px;
    background-color: #FFFFFF;
    color: #F08BFF;
}

.t_regist{
    width: 110%;
    position: relative;
    right: 18px;
    font-weight: 400; 
    font-size: 12px; 
    line-height: 1; 
    letter-spacing: 0; 
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 22px;
}

.remember_me_text {
    font-family: Russo_One;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
}

.remember-me-container {
    display: flex;
    align-items: center;
    padding-bottom: 50px; 
}

.remember_me {
    display: none;
}

.remember_me + .remember_me_text {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.remember_me_text::before {
    content: ''; 
    position: relative;
    width: 22px; 
    height: 22px; 
    background-color: #F08BFF;
    border-radius: 5px; 
    margin-right: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.remember_me:checked + .remember_me_text::before {
    content: ''; 
    background-color: #F08BFF; 
    background-image: url('/static/image/checkmark_login.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
}
