.product_container{
    display: flex;
    justify-content: center;
}

.product_page_image img{
    width: 550px;
    border-radius: 20px;
}

.product_page_info{
    min-width: 600px;
    display: flex;
    padding: 0 0 0 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.product_page_title {
    margin: 0;
    font-size: 40px;
    color: #F08BFF;
}

.product_volume{
    padding-top: 20px;
}

.product_page_price{
    margin: 0;
    font-size: 40px;
    color: #F08BFF;
    text-align: right;
}

.product_page_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.admin_buttons{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;
}

.admin_button_edit, .admin_button_delete{
    cursor: pointer;
    font-size: 16px;
    font-family: Russo_One;
    padding: 0;
    background: transparent;
    border: none;
    color: white;
}

.admin_button_edit:hover, .admin_button_delete:hover{
    color: #F08BFF;
}

.product_page_button_order, .product_page_button_card{
    background-color: #F08BFF;
    font-color: white;
    border-radius: 20px;
    padding: 15px 40px;
    cursor: pointer;
}

.product_page_button_card.active {
    background-color: #8C8C8C;
    cursor: default;
}

ul{
    margin: 0;
    padding: 0 0 0 20px;
}

.product_page_description{
    line-height: 30px;
    margin:0;
}

.reviews_container{
    padding-top: 40px;
}

.make_new_review {
    color: #F08BFF;
    cursor: pointer;
}

.reviews_title_container{
    display: flex;
    justify-content: space-between;
}

.reviews_title, .try_also_title{
    font-size: 24px;
}

.reviews_cards_container{
    display: flex;
    gap: 0 20px;
}

.hidden_reviews{
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
}

.reviews_card {
    width: 350px;
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    cursor: pointer; /* чтобы показывать, что кликабельно */
}

.reviews_username {
    color: #8C8C8C;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviews_content {
    display: -webkit-box;          
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease; /* плавное раскрытие */
    max-height: 1.2em; /* примерно высота одной строки */
}

/* Когда карточка раскрыта — показываем весь текст */
.reviews_card.expanded .reviews_content {
    display: block; /* отменяем -webkit-box */
    max-height: 1000px; /* достаточно большое значение */
    overflow: visible;
    white-space: normal; /* перенос строк */
    -webkit-line-clamp: unset;
}

.reviews_see_all{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 0 0 0;
}

.reviews_see_all_arrow{
    padding-top: 2px;
}

.try_also_container{
    padding-top: 40px;
}

.try_also_cards{
    padding-top: 20px;
}

.try_also_cards{
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 50px;
}

.no-reviews-message{
    margin-top: 20px;
    font-size: 20px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    border-radius: 20px;
    background-color: rgba(25,25,25,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 20px;
    width: 40%;
}

.reviewModal_title{
    text-align: center;
    font-size: 24px;
    color: #191919;
    margin-bottom: 20px;
}

.reviewModal_field{
    font-family: Russo_One;
    font-size: 20px;
    color: rgba(25, 25, 25, 0.5);
    width: 92%;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 15px;
    height: 135px;
    resize: none;
}

.reviewModal_field:focus {
    color: #191919;
    outline: none;
}

.reviewModal_button{
    width: 100%;
    height: 60px;
    padding: auto;
    background-color: #F08BFF;
    font-family: Russo_One;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}