{% extends "base.html" %}

{% block content %}

<div class="admin-container">
        <div class="title_and_button">
            <p class="page_title white_text">Заказы в работе</p>
            <a class="add-product-admin" href="{{ url_for('add_product') }}">Добавить в меню</a>
        </div>
       
        <div class="orders">
            {% for order in table_orders %}
            <div class="order-card">
                <div class="order-left">
                    <p class="order-status"> {{order.order.o_status}}</p>
                    <p class="order-details">{{order.table}}</p>
                </div>
                <div class="order-ri">
                    <p class="order-number">{{"%03d"|format(order.order.o_id)}}</p>
                    <button class="details-button">Подробности</button>
                </div>
            </div>
            {% else %}
                <p>Заказов нет</p>
            {% endfor %}
           
        </div>

        <p class="page_title white_text">Аккаунты, ожидающие подтверждения</p>

        <div class="accounts">
            {% for user in pending_users %}
            <div class="account-card">
                <p class="account-name">{{user.user_name}} <br> {{user.user_surname}}</p>
                <p class="account-p">{{user.phone}}</p>
                <p class="account-email">{{user.email}}</p>
                <form method="post" action="{{ url_for('confirm_user')}}">
                    <input type="hidden" name="user_id" value="{{ user.user_id}}">
                    <button type="submit" class="confirm-button">Подтвердить</button>
                </form>
            </div>

            {% else %}
                <p>Нет аккаунтов, ожидающих подтверждения</p>
            {% endfor %}

        </div>
    </div>


{% endblock %}