<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
        <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='image/logo_bw.svg') }}" type="image/png">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	</head>

	<body>
		<header class="header">
            <nav>
                <a href="{{ url_for('home') }}">
			        <img class="logo" src="{{ url_for('static', filename='image/logo.svg') }}" alt="Логотип" />
                </a>    
                <a href="{{ url_for('catalog') }}" class="catalog_button">
                    <img  src="{{ url_for('static', filename='image/сatalog_button.svg') }}" alt="Каталог" />
                </a>
                <div class="search_bar">
                    <p>поиск</p>
                </div>

				<div class="pages_nav">
                    <a class="nav_buttons" href="{{ url_for('table_map') }}">Столы</a>
                    <a class="nav_buttons" href="{{ url_for('profile') }}">Профиль</a>
                    <a class="nav_buttons" href="{{ url_for('cart') }}">Корзина</a>
				</div>
                
			</nav>
		</header>

		<main class="content">{% block content %}{% endblock %}</main>

        <footer>
        <img class="logo_bw" src="{{ url_for('static', filename='image/logo_bw.svg') }}" alt="Логотип" />
        <div class="pages_nav_footer">
                <a class="nav_buttons_footer" href="{{ url_for('home') }}">Главная</a>
                <a class="nav_buttons_footer" href="{{ url_for('profile') }}">Каталог</a>
                <a class="nav_buttons_footer" href="{{ url_for('table_map') }}">Карта столов</a>
		</div>
        <div class="category_nav_footer">
                <a class="nav_buttons_footer" href="{{ url_for('catalog') }}">Закуски</a>
                <a class="nav_buttons_footer" href="{{ url_for('catalog') }}">Коктейли</a>
                <a class="nav_buttons_footer" href="{{ url_for('catalog') }}">Настойки</a>
                <a class="nav_buttons_footer" href="{{ url_for('catalog') }}">Безалкогольные коктейли</a>
		</div>
        <p class="signature">by Little Sparks team</p>
        </footer>

	</body>
</html>
