{% extends "base.html" %}

{% block content %}

<div class="banner">
    <div class="banner-images">
        <img class="active" src="{{ url_for('static', filename='image/banner1.png') }}" alt="Картинка банера 1" />
        <img src="{{ url_for('static', filename='image/banner2.png') }}" alt="Картинка банера 2" />
        <img src="{{ url_for('static', filename='image/banner3.png') }}" alt="Картинка банера 3" />
        <img src="{{ url_for('static', filename='image/banner4.png') }}" alt="Картинка банера 4" />
    </div>
    <button class="prev" onclick="changeImage(-1)">
        <img src="{{ url_for('static', filename='image/arrow-left.svg') }}" alt="Назад" />
    </button>
    <button class="next" onclick="changeImage(1)">
        <img src="{{ url_for('static', filename='image/arrow-right.svg') }}" alt="Вперед" />
    </button>
</div>

<div class="specials">
    <div class="title">Специальное предложение</div>
    <div class="specials_container">
        <div class="specials_card">
            <div class="specials_card_content">
                <div class="specials_card_image">
                    <img src="{{ url_for('static', filename='image/card_image.png') }}" alt="Карточка товара" />
                </div>
                <div class="specials_card_info">
                    <p class="specials_card_title">Текст текст текст текст текст текст текст текст</p>
                    <p class="specials_card_price">0000 P</p>
                </div>
            </div>
        </div>
        <div class="specials_card">
            <div class="specials_card_content">
                <div class="specials_card_image">
                    <img src="{{ url_for('static', filename='image/card_image.png') }}" alt="Карточка товара" />
                </div>
                <div class="specials_card_info">
                    <p class="specials_card_title">Текст текст текст текст текст текст текст текст</p>
                    <p class="specials_card_price">0000 P</p>
                </div>
            </div>
        </div>
        <div class="specials_card">
            <div class="specials_card_content">
                <div class="specials_card_image">
                    <img src="{{ url_for('static', filename='image/card_image.png') }}" alt="Карточка товара" />
                </div>
                <div class="specials_card_info">
                    <p class="specials_card_title">Текст текст текст текст текст текст текст текст текст текст текст</p>
                    <p class="specials_card_price">0000 P</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mini_catalog">
    <div class="choice_bar">
        <a href="{{ url_for('catalog') }}" class="mini_catalog_button">Смотреть все</a>
        
        <div class="mini_catalog_text_container" onclick="toggleText(event)">
            <span class="mini_catalog_choice white">Закуски</span> 
            <span class="mini_catalog_choice red">Закуски</span>
            <span class="mini_catalog_choice blue">Закуски</span>
        </div>

        
        <div class="mini_catalog_text_container" onclick="toggleText(event)">
            <span class="mini_catalog_choice white">Коктейли</span>
            <span class="mini_catalog_choice red">Коктейли</span>
            <span class="mini_catalog_choice blue">Коктейли</span>
        </div>

        
        <div class="mini_catalog_text_container" onclick="toggleText(event)">
            <span class="mini_catalog_choice white">Настойки</span>
            <span class="mini_catalog_choice red">Настойки</span>
            <span class="mini_catalog_choice blue">Настойки</span>
        </div>

        
        <div class="mini_catalog_text_container" onclick="toggleText(event)">
            <span class="mini_catalog_choice white">Безалкогольные коктейли</span>
            <span class="mini_catalog_choice red">Безалкогольные коктейли</span>
            <span class="mini_catalog_choice blue">Безалкогольные коктейли</span>
        </div>
    </div>
</div>


<script>
    let currentIndex = 0;
    const images = document.querySelectorAll('.banner-images img');
    const bannerImages = document.querySelector('.banner-images');

    function changeImage(direction) {
        currentIndex += direction;

        if (currentIndex < 0) {
            currentIndex = images.length - 1;
        } else if (currentIndex >= images.length) {
            currentIndex = 0;
        }

        const offset = -currentIndex * 100;
        bannerImages.style.transform = `translateX(${offset}%)`;
    }

    let currentExpanded = null; // Переменная для отслеживания текущего открытого элемента

    function toggleText(event) {
        const textContainer = event.currentTarget; // Получаем элемент, на который кликнули
        const whiteText = textContainer.querySelector('.white');
        const redText = textContainer.querySelector('.red');
        const blueText = textContainer.querySelector('.blue');

        // Если текущий элемент уже открыт, закрываем его
        if (currentExpanded === textContainer) {
            redText.style.opacity = '0';
            blueText.style.opacity = '0';
            currentExpanded = null; // Сбрасываем текущий открытый элемент
        } else {
            // Закрываем предыдущий элемент, если он открыт
            if (currentExpanded) {
                const previousRedText = currentExpanded.querySelector('.red');
                const previousBlueText = currentExpanded.querySelector('.blue');
                previousRedText.style.opacity = '0';
                previousBlueText.style.opacity = '0';
            }

           
        redText.style.opacity = '1';
        blueText.style.opacity = '1';
        currentExpanded = textContainer;
        }
    }
</script>


{% endblock %}