{% extends "base.html" %}

{% block content %}
    <div class="page_title white_text">Ваш заказ</div>
    <div class="order-container">
        <div class="order-items">
            {% for item in order_items %}
                <div class="card" data-prod-id="{{ item.prod_id }}" data-count="{{ item.count }}">
                <img src="{{ item.image }}" alt="Товар">
                <div class="order-item-card-details">
                    <div class="order-item-card-details-top">
                        <div class="order-item-card-title">{{ item.title }}</div>
                    </div>
                    <div class="order-item-card-details-bottom">
                        <div class="order-item-price">{{ item.price }} Р</div>
                        <div class="order-item-count-container">
                            <div class="order-item-count-count">х {{ item.amount }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  

        <div class="order-options">
            <div class="order-summary-price-container">
                <div>Итоговая стоимость</div>
                <div class="price">{{total_price}} Р</div>
            </div>
            
            <div class="remember-me-container">
                <input type="checkbox" class="remember_me" id="remember_me" name="remember_me">
                <label class="remember_me_text" for="remember_me">Забрать на баре</label>
            </div>
            <div class="remember-me-container">
                <input type="checkbox" class="remember_me" id="remember_me" name="remember_me">
                <label class="remember_me_text" for="remember_me">Заказать на стол</label>
            </div>
            
            <button class="button" id="confirmOrder">Оплатить</button>
        </div>
    </div>
    
    <script>
        const tableMessageDiv = document.getElementById('tableNumberMessage');
        const confirmButton = document.getElementById('confirmOrder');

        confirmButton.addEventListener('click', () => {
            tableMessageDiv.textContent = 'Ваш стол № (1)';
        });
        const diningCheckbox = document.getElementById('diningTable');
        diningCheckbox.addEventListener('change', () => {
            if (diningCheckbox.checked) {
                tableMessageDiv.textContent = 'Ваш стол № (1)';
            } else {
                tableMessageDiv.textContent = '';
            }
        });
        confirmOrder.addEventListener('click', () => {
            createOrder();
        });
        
    function createOrder() {
        fetch('/api/order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                    })
                })
                .then(response => {
                    if (!response.ok) throw new Error('Ошибка сети');
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        console.log(data);
                    } else {
                        alert(data.message || 'Ошибка');
                    }
                })
                .catch(() => alert('Ошибка при отправке запроса'));
    }
    </script>
{% endblock %}