{% extends "base.html" %}

{% block content %}

<div class="product_container">
    <div class="product_page_image">
        <img src="{{ product.img_prod }}" alt="{{ product.prod_name }}">
    </div>
    <div class="product_page_info">
        <p class="product_page_title">{{ product.prod_name }}</p>
        <div class="product_page_description">
            Состав:
            <ul>
                {% for item in description_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            
            <div class="product_volume">Объем: <br>
                {{product.prod_volume}} гр/мл
            </div>
        </div>
        <p class="product_page_price">{{ product.price }} P</p>
        <div class="product_page_buttons">
            {% if current_user.is_authenticated and current_user.role_id == 1 %}
            <div class="admin_buttons">
                <form action="{{ url_for('edit_product', id=product.prod_id) }}" method="POST">
                    <button class="admin_button_edit"  type="submit">Изменить</button>
                </form>
                <form action="{{ url_for('delete_product', id=product.prod_id) }}" method="POST">
                    <button class="admin_button_delete" type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот продукт из меню?');">Удалить</button>
                </form>
            </div>
            {% endif %}

            <div class="product_page_button_order">
                Заказать сейчас
            </div>
            <div class="product_page_button_card" id="addToCartButton">
                В корзину
            </div>
        </div>
    </div>
</div>

<div class="reviews_container">

    <div class="reviews_title_container">
        <div class="reviews_title">
            Отзывы
        </div>

        {% if current_user.is_authenticated %}
        <div class="make_new_review" id="openModal" style="cursor:pointer;">
            Написать отзыв
        </div>
        {% endif %}

    </div>

    {% set max_visible_reviews = 3 %}

    <div class="reviews_cards_container">
        {% for review in reviews[:max_visible_reviews] %}
            <div class="reviews_card">
                <div class="reviews_username">
                    {{ review.user.user_name }} {{ review.user.user_surname }}
                </div>
                <div class="reviews_content">
                    {{ review.comment }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if reviews|length > max_visible_reviews %}
    <div class="reviews_cards_container hidden_reviews" style="display: none;">
        {% for review in reviews[max_visible_reviews:] %}
            <div class="reviews_card">
                <div class="reviews_username">
                    {{ review.user.user_name }} {{ review.user.user_surname }}
                </div>
                <div class="reviews_content">
                    {{ review.comment }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="no-reviews-message" style="display: {% if reviews|length == 0 %}block{% else %}none{% endif %};">
        Пока что здесь нет отзывов
    </div>

    {% if reviews|length > max_visible_reviews %}
    <div class="reviews_see_all" style="cursor: pointer;">
        <span class="reviews_see_all_text">Смотреть все отзывы</span>
        <div class="reviews_see_all_arrow">
            <img src="{{ url_for('static', filename='image/small-arrow-right.svg') }}" alt="Стрелка вправо" />
        </div>
    </div>
    {% endif %}

</div>

<div class="try_also_container">
    <div class="try_also_title">
        Попробуйте так же
    </div>
    <div class="try_also_cards">
            {% for product in products %}
            <div class="catalog_card">
                <a href="{{ url_for('product', id=product.prod_id) }}">
                    <div class="catalog_card_content">

                        <div class="catalog_card_image">
                            <img src="{{ product.img_prod }}" alt="{{ product.prod_name }}" />
                        </div>

                        <div class="catalog_card_info">
                            <p class="catalog_card_price">{{ product.price }} P</p>
                            <p class="catalog_card_title">{{ product.prod_name }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
    </div>
</div>

<div id="reviewModal" class="modal">
    <div class="modal-content">
        <div class ="reviewModal_title" >Написать отзыв</div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.comment(size=32, placeholder="Ваш отзыв", class="reviewModal_field") }}
            {{ form.submit(class="reviewModal_button") }}
        </form>
    </div>
</div>

<script>
    const carousel = document.querySelector('.try_also_cards');
    let isScrolling;

    const scrollCarousel = (delta) => {
        const scrollAmount = delta * 4; 
        carousel.scrollBy({
            left: scrollAmount,
            behavior: 'smooth'
        });
    };
    
    carousel.addEventListener('wheel', (event) => {
        event.preventDefault();
        
        const delta = event.deltaY || -event.deltaX;

        if ((carousel.scrollLeft === 0 && delta < 0) || 
            (carousel.scrollLeft + carousel.clientWidth >= carousel.scrollWidth && delta > 0)) {
            return; 
        }

        cancelAnimationFrame(isScrolling);
        isScrolling = requestAnimationFrame(() => scrollCarousel(delta));
    });

    const modal = document.getElementById('reviewModal');
    const openModalButton = document.getElementById('openModal');

    openModalButton.onclick = function() {
        modal.style.display = 'block';
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = 'none'; 
        }
    }

    const seeAllBtn = document.querySelector('.reviews_see_all');
    const seeAllText = document.querySelector('.reviews_see_all_text');
    
    if (seeAllBtn && seeAllText) {
        seeAllBtn.addEventListener('click', function() {
            const hiddenReviews = document.querySelector('.hidden_reviews');
            if (hiddenReviews) {
                if (hiddenReviews.style.display === 'flex' || hiddenReviews.style.display === 'block') {
                    hiddenReviews.style.display = 'none';
                    seeAllText.textContent = 'Смотреть все отзывы';
                } else {
                    hiddenReviews.style.display = 'flex';
                    seeAllText.textContent = 'Скрыть отзывы';
                }
            }
        });
    }
    document.querySelector('.product_page_button_card').addEventListener('click', () => {
        addToCart();
    });
    function addToCart() {
        fetch('/api/cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        product_id: {{product.prod_id}},
                        amount: 1
                    })
                })
                .then(response => {
                    if (!response.ok) throw new Error('Ошибка сети');
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        console.log(data);
                    } else {
                        alert(data.message || 'Ошибка');
                    }
                })
                .catch(() => alert('Ошибка при отправке запроса'));
    }

    document.getElementById('addToCartButton').addEventListener('click', function() {
        this.classList.add('active'); // Добавляем класс для изменения стиля
        this.textContent = 'Добавлено'; // Меняем текст
    });
    
</script>

{% endblock %}
