{% extends "base.html" %}

{% block content %}

<div class="product_container">
    <div class="product_page_image">
        <img src="{{ product.img_prod }}" alt="{{ product.prod_name }}">
    </div>
    <div class="product_page_info">
        <p class="product_page_title">{{ product.prod_name }}</p>
        <div class="product_page_description">
            Состав:
            <ul>
                {% for item in description_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        <p class="product_page_price">{{ product.price }} P</p>
        <div class="product_page_buttons">
            <div class="product_page_button_order">
                Заказать сейчас
            </div>
            <div class="product_page_button_card">
                В корзину
            </div>
        </div>
    </div>
</div>

<div class="reviews_container">

    <div class="reviews_title">
        Отзывы
    </div>

    <div class="reviews_cards_container">
        <div class="reviews_card">
            <div class="reviews_username">
                Имя фамилия
            </div>
                <div class="reviews_content">
                текст текст текст текс текст текст текст текст текс текст текст текст текст текс текст текст текст текст текс текст
            </div>
        </div>
    </div>

    <div class="reviews_see_all">
        Смотреть все отзывы
        <div class="reviews_see_all_arrow">
            <img src="{{ url_for('static', filename='image/small-arrow-right.svg') }}" alt="Стрелка вправо" />
        </div>
    </div>

</div>


<div class="try_also_container">
    <div class="try_also_title">
        Попробуйте так же
    </div>
    <div class="try_also_cards">
            {% for product in products %}
            <div class="catalog_card">
                <a href="{{ url_for('product', id=product.prod_id) }}">
                    <div class="catalog_card_content">

                        <div class="catalog_card_image">
                            <img src="{{ product.img_prod }}" alt="{{ product.prod_name }}" />
                        </div>

                        <div class="catalog_card_info">
                            <p class="catalog_card_price">{{ product.price }} P</p>
                            <p class="catalog_card_title">{{ product.prod_name }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
    </div>
</div>

<script>
    const carousel = document.querySelector('.try_also_cards');
    let isScrolling;

    carousel.addEventListener('wheel', (event) => {
        event.preventDefault();

        const delta = event.deltaY || -event.deltaX;

        const scrollAmount = delta * 4;

        cancelAnimationFrame(isScrolling);
        isScrolling = requestAnimationFrame(() => {
            carousel.scrollBy({
                left: scrollAmount,
                behavior: 'smooth'
            });
        });
    });
</script>
{% endblock %}