{% extends "base.html" %}

{% block content %}

<p class="page_title c">Регистрация</p>
<div class="content_form">

    <div class="cont_login">
        <form action=""  method="POST">
            {{ form.hidden_tag() }}
            
                 {{ form.name(size=32, placeholder="Имя", class="input_field")}}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            

                {{ form.surname(size=32, placeholder="Фамилия", class="input_field") }}<br>
                {% for error in form.surname.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
        
            
                {{ form.phone(size=32, placeholder="Телефон", class="input_field") }}<br>
                {% for error in form.phone.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            
                {{ form.email(size=32, placeholder="Email", class="input_field", type="email") }}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            
            
                {{ form.password(size=32, placeholder="Пароль", class="input_field", type="password")}}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            
            
                {{ form.password_again(size=32, placeholder="Повторите пароль", class="input_field", type="password") }}<br>
                {% for error in form.password_again.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            
            {{ form.submit(class="submit_button") }}
            <div class="t_regist">
                после завершения регистрации вам необходимо показать паспорт администратору бара для подтверждения профиля
            </div>
            <div>{{message}}</div>
        </form>
    </div>
</div>

<script>
    const inputFields = document.querySelectorAll('.input_field');

    inputFields.forEach(function(inputField) {
        inputField.addEventListener('input', function() {
            this.style.color = '#191919';
        });
    });
</script>

{% endblock %}